# Git
.git
.gitignore

# Docker
.docker

# Python
adesua/__pycache__/
apps/__pycache__/
apps/*/__pycache__/
apps/*/*/__pycache__/
apps/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/